body,ul{
    padding:0;
    margin:0;
}
body{
    font-size:14px;
    font-family: 'Tahoma';
    background:url(../img/07.jpg) no-repeat ;
    background-size:cover;
}
ul{
    list-style:none;
}
a:hover{
    text-decoration: none;
    cursor:pointer;
}
header{
    display:inline-block;
    /*border-right:2px solid #0b97c4;*/
    /*margin-top:5px;*/
    /*height:760px;*/

}
article{
    display: inline-block;
}
#navTitle{
    text-align: center;
    color:#efefef;
}
#navList> ul{
    margin-top:50px;
    padding:0px;
    color:#2f6f9f;
}
#navList>ul> li{
    /*height:40px;*/
    font-size:16px;
    padding:5px 0px;
    margin-left:0;
    text-align:center;
    /*background:rgba(255,255,255,0.8) !important;*/
}
#navList >ul>li:hover{
    /*background:#eee;*/
    color:#0c60ee;
    font-size:18px;
    /*padding-left:10px;*/
}
#navList>ul>li>a:hover{
    background:#11c1f3;
    display: block;
    padding:5px 0px;
    margin-top:0;
}
#navList .subnav {
    display:none;
}
#navList .subnavShow>li{
    display: block;
    font-size:14px;
    padding:5px 0px;

}
#navList .subnavShow>li:hover{
    font-size:16px;
    background:#11c1f3;
    /*padding-left:0;*/
}

#profile{
    color:#ededed;
    margin-top:50px;
}
#profile h2{
    text-align: center;
}
#profile p{
    padding:10px;
    margin:5px;
    font-size:16px;

}
