<article class="col-sm-9 col-xs-12">
    <div class="container-fluid"  id="profile">

        <div class="row">

            <div class="col-xs-12">
                <!--<i class="fa fa-4x fa-camera tm-icon"></i>-->
                <h2 >Personal profile</h2>
                <div >
                    <p ng-repeat="intro in intros">
                        {{intro}}
                    </p>
                </div>
            </div>

        </div>

    </div>

    <!-- 尾部 -->
    <!--<footer ng-include="'template/footer.html'"></footer>-->
</article>