<header class="col-sm-3 col-xs-12 ">

    <section class="col-sm-12 col-xs-12" id="navTitle">
        <h2>My Space</h2>
    </section>
    <section class="col-sm-12 col-xs-12" id="navList">
        <ul class="list-group">
            <li ng-repeat="nav in navs" class="list-group-item ng-cloak"
                ng-mouseenter="showSubNav=false"
                ng-mouseleave="showSubNav=true" ng-cloak>
                <a src="{{nav.src}}">{{nav.title}}</a>
                <ul ng-class="{'subnav':showSubNav,'subnavShow':!showSubNav}">
                    <li ng-repeat="sub in nav.sub" class="">
                        <a src="{{sub.src}}">{{sub.title}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section >

    <section class="col-sm-12" id="navDocLink">

    </section>

</header>