<header class="col-sm-3 col-xs-12 ">

    <section class="col-sm-12" id="navTitle">
        <h2>My Space</h2>
    </section>
    <section class="col-sm-12" id="navList">
        <ul class="col-sm-12 col-xs-12 list-group ">
            <li ng-repeat="nav in navs" class="list-group-item">
                <a src="{{nav.src}}">{{nav.title}}</a>
            </li>
            <!--<li><a>前端技术</a></li>
            <li><a>博客文章</a></li>
            <li><a>个人项目</a></li>
            <li><a>奥秘研究</a></li>
            <li><a>联系方式</a></li>-->
        </ul>
    </section >

    <section class="col-sm-12" id="navDocLink">

    </section>

</header>